
@{
    ViewBag.Title = "DtTheoHSX";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<br />
@using QLDT.Models;
@model List<SanPham>

<div class="row">
    @{
        foreach (var item in Model)
        {
        <div class="col-4">
            <img src="@Url.Content("~/img/dt/"+@item.AnhBia)" width="200px" height="250px" alt="Image" />
            @if (item.TenSP.Length > 30)
            {
                <p>
                    <br />
                    <strong title="@item.TenSP">@item.TenSP.Substring(0, 30)...</strong><br />
                    &nbsp;<strong style="color: orange">@string.Format("{0:0,0}", item.GiaTien) VND</strong><br />
                    <i class="fas fa-star fa-sm" style="color:orangered"></i>
                    <i class="fas fa-star fa-sm" style="color:orangered"></i>
                    <i class="fas fa-star fa-sm" style="color:orangered"></i>
                    <i class="fas fa-star fa-sm" style="color:orangered"></i>
                    <i class="fas fa-star fa-sm" style="color:orangered"></i><br />
                    <a href="@Url.Action("XemChiTiet","SanPham",new { @ms=item.MaSP})" style="margin-left:150px;text-decoration:none">View more<i class="fab fa-waze fa-lg"></i></a>
                </p>
            }
            else
            {
                <p>
                    <br />
                    <strong title="@item.TenSP">@item.TenSP</strong><br />
                    &nbsp;<strong style="color:orange">@string.Format("{0:0,0}", item.GiaTien) VND</strong><br />
                    <i class="fas fa-star fa-sm" style="color:orangered"></i>
                    <i class="fas fa-star fa-sm" style="color:orangered"></i>
                    <i class="fas fa-star fa-sm" style="color:orangered"></i>
                    <i class="fas fa-star fa-sm" style="color:orangered"></i>
                    <i class="far fa-star fa-sm"></i><br />
                    <a href="@Url.Action("XemChiTiet","SanPham",new { @ms=item.MaSP})" style="margin-left:150px;text-decoration:none">View more <i class="fab fa-waze fa-lg"></i></a>

                </p>
            }
            <br />
        </div>
        }
    }
</div>
<br />