@model IEnumerable<QLDT.Models.SanPham>

@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Search</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhBia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHDH)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhBia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHDH)
            </td>
        </tr>
    }

</table>
