@model QLDT.Models.SanPham

@{
    ViewBag.Title = "SanPham_Delete";
    Layout = "~/Views/Shared/QuanLy.cshtml";
}

<div class="container" style="width:60%">
    <p style="color:hotpink; font-weight:bold; text-align:center; font-size:25px">
        XÓA SẢN PHẨM
    </p>

    <h5 style="text-align:center">Are you sure you want to delete this?</h5>
    <hr />
    <dl class="dl-horizontal">
        <strong>Mã SP: </strong>
        @Html.DisplayFor(model => model.MaSP)<br />

        <strong>Tên SP: </strong>
        @Html.DisplayFor(model => model.TenSP)<br />

        <strong>Mô tả: </strong>
        @Html.DisplayFor(model => model.MoTa)<br />

        <strong>Giá bán: </strong>
        @Html.DisplayFor(model => model.GiaTien)<br />

        <strong>Số lượng: </strong>
        @Html.DisplayFor(model => model.SoLuong)<br />

        <strong>Ảnh: </strong>
        @Html.DisplayFor(model => model.AnhBia)<br />

        <strong>Mã hãng sản xuất: </strong>
        @Html.DisplayFor(model => model.MaHSX)<br />

        <strong>Mã hệ điều hành: </strong>
        @Html.DisplayFor(model => model.MaHDH)<br />

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "SanPham_Show", "QuanLy")|
    <input type="submit" value="Delete" class="btn btn-danger" />
</div>
    }
</div>
